// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.line{
  margin-top: 15px;
  min-width: 70%;
  height: 2px;
  border-top: 2px solid #ececec;
}

.logos{
  margin-top: 15px;
  .login-logo img{
    width: 30px;
    margin: 5px;
  }
}